/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

/* style */
.section-title {
  color: #0a3d62;
}
.result {
  color: #079992;
}
.book-card {
  height: 700px;
}

.image-top {
  height: 50%;
}

.book-title {
  color: #2c3e50;
}
.author-name {
  color: #1289a7;
}
.publishar {
  color: #1e272e;
}
